[sources.exec_{{ id }}]
type = "exec"
command = ["{{ command }}"]
timeout_secs = 5
restart_attempts = 3

[transforms.parse_exec_{{ id }}]
type = "remap"
inputs = ["exec_{{ id }}"]
source = '''
.message = .message  # exec 输出的默认字段是 message
.host = get_hostname!()
'''

[sinks.vmlogs_exec_{{ id }}]
type = "loki"
inputs = ["parse_exec_{{ id }}"]
endpoint = "http://10.10.90.113:3100"
encoding.codec = "json"

[sinks.vmlogs_exec_{{ id }}.labels]
host = "{{ host }}"
command = "{{ command }}"
