.segmented {
  :global {
    .ant-segmented {
      background: transparent;
      color: var(--color-text-1);
      .ant-segmented-item {
        margin-right: 8px;
        padding: 3px 6px !important;
      }
      .ant-segmented-item-selected {
        color: var(--color-primary);
      }
    }
  }
}