.chartWrapper {
  padding: 16px 60px 0 60px;
  position: relative;
  overflow: hidden;
}

.chartGrid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
  gap: 24px 0;
  align-items: center;
  position: relative;
}

.axis {
  position: relative;

  .axisTick {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    font-size: 12px;
    color: #999;
    width: max-content;
  }
}

.chartContent {
  overflow-x: visible;
  overflow-y: auto;
  margin-right: -10px;
  margin-left: -30px;
  padding-left: 30px;
  max-height: calc(100vh - 416px);
  .alarmRow {
    position: relative;
    .alarmCheckbox {
      position: absolute;
      left: -30px;
    }
  }
  .barContainer {
    position: relative;
    margin: 12px 0;
    height: 22px;
    background: #f9f8f8;
    overflow: hidden;

    .bar {
      position: relative;
      top: 0;
      bottom: 0;
      overflow: visible;
      height: 100%;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 6px;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      .title {
        position: absolute;
        color: #666;
      }
    }
  }
}

.axisLine {
  position: absolute;
  top: 26px;
  bottom: 4px;
  width: 1px;
  border-left: 1px dashed #dbdada;
}
