networks:
  prod:

services:
  server:
    image: ${DOCKER_IMAGE_SERVER}
    environment:
      - DEBUG=True
      - SECRET_KEY=${SECRET_KEY}
      - JWT_ALGORITHM=HS256
      - NATS_SERVERS=tls://${NATS_ADMIN_USERNAME}:${NATS_ADMIN_PASSWORD}@nats:4222
      - NATS_TLS_ENABLED=true
      - NATS_TLS_CA_FILE=/etc/nats/certs/ca.crt
      - NATS_NAMESPACE=bklite
      - DB_ENGINE=postgresql
      - DB_NAME=bklite
      - DB_USER=postgres
      - DB_HOST=postgres
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_PORT=5432
      - ADMIN_PASSWORD=password
      - ENABLE_CELERY=true
      - CELERY_WORKER_CONCURRENCY=1
      - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/3
      - CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/3
      - DEFAULT_ZONE_VAR_NATS_SERVERS=${HOST_IP}:4222
      - DEFAULT_ZONE_VAR_NATS_PASSWORD=${NATS_ADMIN_PASSWORD}
      - DEFAULT_ZONE_VAR_NATS_USERNAME=${NATS_ADMIN_USERNAME}
      - DEFAULT_ZONE_VAR_STARGAZER_URL=http://stargazer:8083
      - DEFAULT_ZONE_VAR_NODE_SERVER_URL=http://${HOST_IP}:${TRAEFIK_WEB_PORT}
      - DEFAULT_ZONE_VAR_NATS_PROTOCOL=tls
      - DEFAULT_ZONE_VAR_NATS_TLS_CA_FILE=/opt/fusion-collectors/certs/ca.crt
      - VICTORIAMETRICS_HOST=http://victoria-metrics:8428
      - TOP_GROUP=Default
      - DEFAULT_GROUP_NAME=Guest
      - MINIO_ENDPOINT=minio:9000
      - MINIO_USE_HTTPS=0
      - MINIO_ACCESS_KEY=${MINIO_ROOT_USER}
      - MINIO_SECRET_KEY=${MINIO_ROOT_PASSWORD}
      - CONVERSATION_MQ_HOST=rabbitmq
      - CONVERSATION_MQ_PORT=5672
      - CONVERSATION_MQ_USER=${RABBITMQ_DEFAULT_USER}
      - CONVERSATION_MQ_PASSWORD=${RABBITMQ_DEFAULT_PASSWORD}
      - MUNCHKIN_BASE_URL=http://${HOST_IP}:${TRAEFIK_WEB_PORT}/api/v1/opspilot
      - METIS_SERVER_URL=http://metis:18083
      - PILOT_RUNTIME=docker
      - INSTALL_APPS=${INSTALL_APPS}
      - VICTORIALOGS_HOST=http://victoria-logs:9428
      - MLFLOW_TRACKER_URL=http://mlflow:15000
      - MLFLOW_ENABLE_SYSTEM_METRICS_LOGGING=true
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      - AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
      - AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
      - AWS_DEFAULT_REGION=us-east-1
      - FALKORDB_DATABASE=cmdb_graph
      - FALKORDB_REQUIREPASS=${FALKORDB_PASSWORD}
      - FALKORDB_HOST=falkordb
      - FALKORDB_PORT=6379
      - UV_OFFLINE=True
    healthcheck:
      test: ["CMD", "curl", "-s", "-o", "/dev/null", "-w", "'%{http_code}'", "http://127.0.0.1:8000/"]
      interval: 10s
      timeout: 5s
      retries: 300
      start_period: 90s
    depends_on:
      postgres:
        condition: service_healthy
      falkordb:
        condition: service_healthy
    networks:
      - prod
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../conf/certs:/etc/nats/certs:ro
      - ../pkgs:/apps/pkgs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sidecar.rule=Host(`${HOST_IP}`) && PathPrefix(`/api/v1`)"
      - "traefik.http.routers.sidecar.entrypoints=web"
      - "traefik.http.services.sidecar.loadbalancer.server.port=8000"