.menuContainer {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      div {
        width: 100%;
      }
      span {
        width: 100%;
      }
      .block {
        padding: 5px 12px;
      }
    }
  }
}

.batchOperationMenu {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      div {
        width: 100%;
      }
      .ant-dropdown-menu-title-content {
        width: 100%;
        display: flex;
        > span {
          width: 100%;
          button {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}