.flowContainer {

  :global {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;

    .ant-spin-nested-loading,
    .ant-spin-container {
      width: 100%;
      height: 100%;
    }
  }
}