[run]
branch = True
source = ./src
parallel = True
omit =
    .vscode/*
    docs/*
    models/*
    requirements/*
    support-files/*
    test_results/*
    tests/*
    .venv/*

[report]
precision = 2
show_missing = True
exclude_lines =
    if __name__ == .__main__.:

[html]
directory = test_results/coverage_html_report