.sideMenuLayout {
  height: var(--custom-height, calc(100vh - 90px));
  overflow: hidden;

  .sectionContainer {
    background: #FFFFFF;
  }

  .sectionContext {
    height: 100%;
    overflow: auto;
  }
}

.sideMenu {
  color: var(--color-components-side-nav-text);

  .introduction {
    background: #FFFFFF;
  }

  .nav {
    background: #FFFFFF;

    li {
      &:hover {
        background: #f2f4f7;
      }

      &.active {
        color: #155AEF;
        background: #e1edfc;
      }
    }
  }
}

.segmented {
  :global {
    .ant-segmented {
      background: transparent;
      color: var(--color-text-1);

      .ant-segmented-item {
        margin-right: 8px;
        padding: 3px 6px !important;
      }

      .ant-segmented-item-selected {
        color: var(--color-primary);
      }
    }
  }
}