.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;

  .card {
    height: 200px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @media (max-width: 768px) {
      width: 160px;
      height: 100px;
    }

    .cardContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      text-align: center;
      .logo {
        height: 68px;
        object-fit: contain;
      }

      .name {
        font-size: 16px;
        color: #333;
        word-break: keep-all;
      }

      .info {
        font-size: 12px;
        color: #666;
        word-break: keep-all;
      }
    }
  }
}
