.container {
  height: 100%;
  width: 100%;
  min-height: 34vh;

  .card {
    width: 230px;
    height: 250px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .cardContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      text-align: center;
      .logo {
        height: 68px;
        object-fit: contain;
      }

      .name {
        font-size: 16px;
        color: #333;
        word-break: keep-all;
      }

      .info {
        font-size: 12px;
        color: #666;
        word-break: keep-all;
      }
    }
  }
}
