.segmented :global(.ant-segmented) {
  background: transparent;
  color: #1E252E;
}

.segmented :global(.ant-segmented-item) {
  margin-right: 8px;
  padding: 3px 6px !important;
}

.segmented :global(.ant-segmented-item-selected) {
  color: #155AEF;
}