.filters {
  width: 210px;
  min-width: 210px;
  background-color: var(--color-bg-1);
  padding: 20px 16px;
  margin-right: 12px;
  height: calc(100vh - 90px);
  overflow-y: auto;
  border-radius: 4px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 142px;
    .clearIcon {
        color: var(--color-text-3);
    }
  }
  .group {
    margin-left: 28px;
    margin-bottom: 14px;
  }

  .levelBar {
    display: inline-block;
    margin: 0 8px 0 4px;
    width: 4px;
    height: 16px;
    vertical-align: middle;
  }

  :global {
    .collapse-title {
      padding: 3px 10px;
      border-radius: 2px;

      .title {
        font-weight: 500 !important;
      }
    }
  }
}
