[[inputs.rabbitmq]]
    url = "{{ url }}"
    username = "{{ username }}"
    password = "${PASSWORD__{{ config_id }}}"
    interval = "{{ interval }}s"
    {% if collect_federation_links is defined and collect_federation_links %}
    collect_federation_links = {{ collect_federation_links | bool | lower }}
    {% else %}
    collect_federation_links = false
    {% endif %}
    [inputs.rabbitmq.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "middleware"
        config_type = "rabbitmq"