[sources.syslog_{{ id }}]
type = "syslog"
address = "{{ listen_addr }}"
mode = "tcp"

[transforms.parse_syslog_{{ id }}]
type = "remap"
inputs = ["syslog_{{ id }}"]
source = '''
.message = .message
.host = get_hostname!()
.severity = .severity
.facility = .facility
'''

[sinks.vmlogs_syslog_{{ id }}]
type = "loki"
inputs = ["parse_syslog_{{ id }}"]
endpoint = "http://10.10.90.113:3100"
encoding.codec = "json"

[sinks.vmlogs_syslog_{{ id }}.labels]
host = "{{ host }}"
severity = "{{ severity }}"
facility = "{{ facility }}"
