Here is the context for generating an answer:
----------------
{{context}}
----------------
Please come up with a answer dict, in the specified JSON format, for the following text:
----------------
{{text}}
----------------

{% if extra_prompt %}
Additional instructions:
{{extra_prompt}}
{% endif %}