# 达梦数据库查询结果为大写！
collector_name: dm_sql

# Similar to global.min_interval, but applies to the queries defined by this collector only.
#min_interval: 0s

metrics:
  - metric_name: dm_exporter_connections
    type: gauge
    help: '当前连接数'
    values:
      - CONNECTIONS
    query: |
        SELECT COUNT(1) AS CONNECTIONS FROM sys.V$sessions

  # 会话
  - metric_name: dm_exporter_session_rests
    type: gauge
    help: '可用会话数'
    values:
      - FREE_SESSIONS
    query: |
        SELECT (MaxSessions - Sessions) AS FREE_SESSIONS FROM ( SELECT count(1) AS Sessions FROM sys.V$sessions ) s, ( SELECT PARA_VALUE AS MaxSessions FROM sys.V$DM_INI WHERE PARA_NAME = 'MAX_SESSIONS' ) p

  - metric_name: dm_exporter_session_used_ratio
    type: gauge
    help: '会话使用率(%)'
    values:
      - SESSION_USED_RATIO
    query: |
        SELECT round((UsedSessions / MaxSessions), 2) AS SESSION_USED_RATIO FROM ( SELECT count(1) AS UsedSessions FROM sys.V$sessions ) a,( SELECT PARA_VALUE AS MaxSessions FROM sys.V$DM_INI WHERE PARA_NAME = 'MAX_SESSIONS' ) p

  - metric_name: dm_exporter_memory_used_size
    type: gauge
    help: '内存使用量(MB)'
    values:
      - MEMORY_USED
    query: |
        SELECT stat_val/1024/1024 AS MEMORY_USED FROM v$sysstat WHERE name = 'memory used bytes from os'

  - metric_name: dm_exporter_buffer_cache_hit_ratio
    type: gauge
    help: '缓存命中率(%)'
    values:
      - HIT_RATE
    key_labels:
      - HIT_NAME
    query: |
        SELECT NAME AS HIT_NAME, ROUND(AVG(RAT_HIT), 4) AS HIT_RATE FROM V$BUFFERPOOL GROUP BY NAME

  # 锁
  - metric_name: dm_exporter_locks
    type: gauge
    help: '获取锁的进程数'
    values:
      - LOCK_NUM
    query: |
        SELECT count(*) AS LOCK_NUM FROM V$LOCK

  - metric_name: dm_exporter_lock_blocks
    type: gauge
    help: '等待锁的进程数'
    values:
      - LOCK_BLOCKS
    query: |
        SELECT count(*) AS LOCK_BLOCKS FROM V$LOCK WHERE blocked = 1

  - metric_name: dm_exporter_deadlock_count
    type: counter
    help: '死锁累计数量'
    values:
      - DEADLOCK_COUNT
    query: |
        SELECT COUNT(*) AS DEADLOCK_COUNT FROM v$deadlock_history

  # 表空间
  - metric_name: dm_exporter_tablespace_total_size
    type: gauge
    help: '表空间总大小(MB)'
    values:
      - TOTAL_SIZE
    key_labels:
      - TABLESPACE_NAME
    query_ref: tablespace_query

  - metric_name: dm_exporter_tablespace_free_size
    type: gauge
    help: '表空间剩余大小(MB)'
    values:
      - FREE_SIZE
    key_labels:
      - TABLESPACE_NAME
    query_ref: tablespace_query

  - metric_name: dm_exporter_tablespace_used_size
    type: gauge
    help: '表空间使用大小(MB)'
    values:
      - USED_SIZE
    key_labels:
      - TABLESPACE_NAME
    query_ref: tablespace_query

  - metric_name: dm_exporter_tablespace_used_ratio
    type: gauge
    help: '表空间使用率(%)'
    values:
      - USED_RATIO
    key_labels:
      - TABLESPACE_NAME
    query_ref: tablespace_query

  - metric_name: dm_exporter_checkpoint_dirty_pages
    type: gauge
    help: 'CheckPoint重做日志块'
    values:
      - CKPT_DIRTY_PAGES
    query: |
        SELECT value AS CKPT_DIRTY_PAGES FROM V$PARAMETER WHERE NAME = 'CKPT_DIRTY_PAGES'

  - metric_name: dm_exporter_checkpoint_interval_time
    type: gauge
    help: 'CheckPoint间隔时间(s)'
    values:
      - CKPT_INTERVAL
    query: |
        SELECT value AS CKPT_INTERVAL FROM V$PARAMETER WHERE NAME = 'CKPT_INTERVAL'

  - metric_name: dm_exporter_table_used_space
    type: gauge
    help: '表块数'
    values:
      - BLOCKS_COUNT
    key_labels:
      - OWNER
      - TABLE_NAME
    query: |
        SELECT OWNER, TABLE_NAME, TABLE_USED_SPACE(owner, table_name) AS BLOCKS_COUNT FROM dba_tables WHERE owner NOT IN ('SYS', 'SYSSSO', 'SYSAUDITOR')

  - metric_name: dm_exporter_index_used_space
    type: gauge
    help: '索引块数'
    values:
      - USED_SPACE
    key_labels:
      - OWNER
      - INDEX_NAME
    query: |
        SELECT a.OWNER, A.INDEX_NAME, INDEX_USED_SPACE(object_id) AS USED_SPACE FROM dba_indexes a, dba_objects b WHERE a.owner = b.owner AND a.index_name = b.object_name AND a.owner NOT IN ('SYS', 'SYSSSO', 'SYSAUDITOR', 'CTISYS')

  - metric_name: dm_exporter_shared_pool_size
    type: gauge
    help: '共享内存大小'
    values:
      - PARA_VALUE
    query: |
        SELECT PARA_VALUE FROM v$DM_INI WHERE PARA_name = 'MEMORY_POOL'

  - metric_name: dm_exporter_redo_file_size
    type: gauge
    help: 'ReDo文件大小(MB)'
    values:
      - USED_SIZE
    key_labels:
      - PATH
    query: |
        SELECT v$rlogfile.PATH AS PATH, round( (v$rlog.TOTAL_SPACE - v$rlog.FREE_SPACE) / 1024 / 1024, 2 ) AS USED_SIZE FROM v$rlog JOIN v$rlogfile ON v$rlog.CUR_FILE = v$rlogfile.FILE_ID

  - metric_name: dm_exporter_open_cursor
    type: gauge
    help: '打开的游标数'
    values:
      - OPEN_CURSOR
    query: |
        SELECT count(*) AS OPEN_CURSOR FROM sys.V$OPEN_STMT WHERE TYPE = 'SELECT'

  # 0,'ONLINE' 1,'OFFLINE' 2,'RES_OFFLINE' 3,'CORRUPT' 4,'OTHER'
  - metric_name: dm_exporter_roll_state
    type: gauge
    help: '回滚状态'
    values:
      - ROLL_STATUS
    key_labels:
      - ROLL_TYPE
    query_ref: roll_query

  - metric_name: dm_exporter_roll_size
    type: gauge
    help: '回滚页大小'
    values:
      - TOTAL_SIZE
    key_labels:
      - ROLL_TYPE
    query_ref: roll_query

  - metric_name: dm_exporter_redo_log_size
    type: gauge
    help: 'ReDo日志大小(MB)'
    values:
      - RLOG_SIZE
    key_labels:
      - PATH
      - STATUS
    query: |
        SELECT a.GROUP_ID, a.FILE_ID, PATH, a.RLOG_SIZE / 1024 / 1024 AS RLOG_SIZE, case a.FILE_ID WHEN b.CUR_FILE THEN 'CURRENT' ELSE 'INACTIVE' end AS STATUS FROM v$rlogfile a, v$rlog b

  - metric_name: dm_exporter_2pc_pending
    type: gauge
    help: '长时间二阶段事务锁个数'
    values:
      - PENDING
    query: |
        SELECT COUNT(1) AS PENDING FROM v$sessions t1, v$trx t2 WHERE t1.trx_id = t2.id AND t1.state = 'IDLE' AND t2.status = 'ACTIVE'

  - metric_name: dm_exporter_load_five_average
    type: gauge
    help: '数据库每5分钟工作负载'
    values:
      - LOAD_FIVE_AVERAGE
    query: |
        SELECT LOAD_FIVE_AVERAGE FROM V$SYSTEMINFO

  - metric_name: dm_exporter_executions_total
    type: counter
    help: '执行sql语句总数'
    values:
      - STAT_VAL
    query: |
        SELECT STAT_VAL FROM sys.v$sysstat WHERE sf_get_ep_seqno(rowid) = sf_get_self_ep_seqno() AND name = 'transaction total count'

  - metric_name: dm_exporter_slow_query
    type: gauge
    help: '超过2秒的慢查询'
    values:
      - SLOW_QUERY
    query: |
        SELECT count(1) AS SLOW_QUERY FROM ( SELECT sess_id, sql_text, datediff (ss, last_recv_time, SYSDATE) Y_EXETIME, SF_GET_SESSION_SQL (SESS_ID) fullsql, clnt_ip FROM V$SESSIONS WHERE STATE = 'ACTIVE' ) WHERE Y_EXETIME >= 2

  - metric_name: dm_exporter_unusable_index
    type: gauge
    help: '失效索引数量'
    values:
      - UNUSABLE
    query: |
        SELECT count(*) AS UNUSABLE FROM dba_indexes WHERE STATUS = 'UNUSABLE'

  # asm指标必须为asm模式才能采集
  - metric_name: dm_exporter_asm_real_used_ratio
    type: gauge
    help: 'ASM实际空间使用率(%)'
    values:
      - USEDRATIO
    key_labels:
      - GROUP_NAME
    query_ref: asm_query

  - metric_name: dm_exporter_asm_free_size
    type: gauge
    help: 'ASM安全使用空间大小(MB)'
    values:
      - FREE_SIZE
    key_labels:
      - GROUP_NAME
    query_ref: asm_query

  # 主备查询
  - metric_name: dm_exporter_backup_is_status
    type: gauge
    help: '主备实例状态'
    values:
      - IS_STATUS
    key_labels:
      - MAL_HOST
      - MAL_INST_HOST
      - INSTANCE_NAME
      - HOST_NAME
      - OGUID
    query_ref: backup_query

  - metric_name: dm_exporter_backup_i_mode
    type: gauge
    help: '主备实例模式'
    values:
      - I_MODE
    key_labels:
      - MAL_HOST
      - MAL_INST_HOST
      - INSTANCE_NAME
      - HOST_NAME
      - OGUID
    query_ref: backup_query

  - metric_name: dm_exporter_backup_arch_status
    type: gauge
    help: '主备架构状态'
    values:
      - ARCH_STATUS
    key_labels:
      - MAL_HOST
      - MAL_INST_HOST
      - INSTANCE_NAME
      - HOST_NAME
      - OGUID
    query_ref: backup_query

  - metric_name: dm_exporter_backup_dw_status
    type: gauge
    help: '主备数据库观测状态'
    values:
      - DW_STATUS
    key_labels:
      - MAL_HOST
      - MAL_INST_HOST
      - INSTANCE_NAME
      - HOST_NAME
      - OGUID
    query_ref: backup_query

  - metric_name: dm_exporter_backup_late_time
    type: gauge
    help: '主备延迟时间(s)'
    values:
      - LATE_TIME
    query: |
        SELECT LAST_CMT_TIME - APPLY_CMT_TIME AS LATE_TIME FROM v$rapply_stat

queries:
  - query_name: tablespace_query
    query: |
        SELECT
          total.tablespace_name AS TABLESPACE_NAME,
          ROUND(total.Size / 1024 / 1024, 2) AS TOTAL_SIZE,
          ROUND(free.Size / 1024 / 1024, 2) AS FREE_SIZE,
          ROUND((total.Size - free.Size) / 1024 / 1024, 2) AS USED_SIZE,
          ROUND(100.0 * (total.Size - free.Size) / total.Size, 2) AS USED_RATIO
        FROM
          (SELECT tablespace_name, SUM(bytes) AS Size FROM dba_free_space GROUP BY tablespace_name) free,
          (SELECT tablespace_name, SUM(bytes) AS Size FROM dba_data_files GROUP BY tablespace_name) total
        WHERE
          free.tablespace_name = total.tablespace_name

  - query_name: roll_query
    query: |
        SELECT name AS ROLL_TYPE, STATUS$ AS ROLL_STATUS, TOTAL_SIZE, file_num FROM V$TABLESPACE WHERE name = 'ROLL'

  - query_name: asm_query
    query: |
        SELECT GROUP_NAME, FREE_SIZE, 100 *(TOTAL_SIZE - FREE_SIZE) / TOTAL_SIZE AS USEDRATIO FROM V$ASMGROUP

  - query_name: backup_query
    query: |
        SELECT
            dmmal.MAL_HOST,
            dmmal.MAL_INST_HOST,
            INSTANCE_NAME,
            HOST_NAME,
            decode(STATUS$, 'OPEN', 0, 'MOUNT', 1, 'SUSPEND', 2) AS IS_STATUS,
            decode(MODE$, 'PRIMARY', 0, 'STANDBY', 1, 'NORMAL', 2) AS I_MODE,
            OGUID,
            (
                SELECT
                    decode(ARCH_STATUS, 'VALID', 0, 'INVALID', 1)
                FROM
                    v$ARCH_STATUS
                WHERE
                    ARCH_TYPE = 'LOCAL'
            ) AS ARCH_STATUS,
            decode(dmwatch.DW_STATUS, 'ENABLED', 0, 'DISABLED', 1) AS DW_STATUS,
            (
                SELECT
                    FILE_LSN
                FROM
                    v$rlog
            ) AS flsn,
            (
                SELECT
                    CUR_LSN
                FROM
                    v$rlog
            ) AS cls
        FROM
            v$instance ins
            LEFT JOIN v$dmwatcher dmwatch ON ins.INSTANCE_NAME = dmwatch.INST_NAME
            LEFT JOIN v$DM_MAL_INI dmmal ON ins.INSTANCE_NAME = dmmal.MAL_INST_NAME