[[inputs.snmp_trap]]
    interval = "{{ interval }}s"
    [inputs.snmp_trap.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "snmp_trap"
        config_type = "snmp_trap"