.search {
    :global {
        .ant-card-body {
            padding: 14px;
        }

        .collapse-content {
            background: var(--color-fill-1);
            padding: 0;
        }
    }

    .searchCondition {
        margin: 10px 0;

        :global {
            .ant-input-group-addon {
                padding: 0;
            }
        }
    }

    .chart {
        height: 80px !important;
        padding: 0 20px 0 4px;
    }

    .detail {
        :global {
            .ant-popover-title {
                max-width: 250px;
                font-size: 12px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
                padding-bottom: 4px;
                border-bottom: 1px solid var(--color-border-1);
            }

            .ant-popover-content {
                font-size: 12px !important;
            }
        }

        .title {
            padding-bottom: 10px;
            border-bottom: 1px solid var(--color-border-1);
        }

        .field {
            .arrow {
                display: none;
            }

            &:hover {
                .arrow {
                    display: flex;
                    transform: scale(0.9);
                }
            }
        }

        .value {
            cursor: pointer;

            .arrow {
                display: none;
            }

            &:hover {
                .arrow {
                    display: inline-block;
                    vertical-align: middle;
                    transform: scale(0.9);
                }
            }
        }
    }
}