[[inputs.mongodb]]
    servers = [
        {% if username and password %}
        "mongodb://{{ username }}:{{ password }}@{{ host }}:{{ port }}/?connect=direct"
        {% else %}
        "mongodb://{{ host }}:{{ port }}/?connect=direct"
        {% endif %}
    ]
    interval = "{{ interval }}s"

    [inputs.mongodb.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "database"
        config_type = "mongodb"
