.asset {
    display: flex;
    overflow: hidden;

    .assetTree {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 146px);
        padding: 20px 10px;
        background-color: var(--color-bg-1);
        overflow-y: auto;
        overflow-x: hidden;

        .tree {
            height: 100%;
        }

        :global {
            .ant-tree-list {
                width: 100%;
            }
        }
    }

    .table {
        background: var(--color-bg-1);
        height: calc(100vh - 146px);
        padding: 20px;
        margin-left: 10px;

        .search {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        :global {
            .ant-table {
                width: calc(100vw - 280px);
            }
        }
    }
}

.strategy {
    width: 100%;
    overflow: hidden;

    :global {
        .ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
            position: absolute;
            right: -3px;
        }

        .ant-form-item-label>label {
            margin-right: 10px;
        }
    }

    .title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .form {
        height: calc(100vh - 190px);
        overflow-y: auto;
        padding: 10px;

        .condition {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .footer {
        margin-top: 10px;
        padding-left: 20px;
    }
}