.detailContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background: #fff;
  overflow: hidden;
  width: 100%;
  .detailContent {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .descContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tabsWrapper {
    flex: 1;
    margin-top: 20px;
    .ant-tabs,
    .ant-tabs-content-holder,
    .ant-tabs-content {
      height: 100%;
    }
    .timelineContent {
      overflow-y: auto;
      padding: 16px;
    }

    .filterRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    .switchWrapper {
      display: flex;
      align-items: center;
    }
  }
}
