.customTooltip {
    margin-top: 10px;
    pointer-events: auto;
    max-height: 300px;
    overflow-y: auto;
    font-size: 14px;
    background: var(--color-bg-1);
    border: 1px solid var(--color-border-1);
    box-shadow: var(--ant-box-shadow-secondary);
    padding: 10px;
    border-radius: 5px;
}

.chart {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--color-fill-1);

    :global {
        .recharts-tooltip-wrapper {
            z-index: 9;
        }
    }

    :global {
        path.recharts-tooltip-cursor {
            fill: var(--color-fill-4);
        }
    }
}

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
}