[sources.file_logs_{{ id }}]
type = "file"
include = ["{{ file_path }}"]
ignore_older = 86400  # 忽略24小时以前的日志，可按需调整

[transforms.parse_file_{{ id }}]
type = "remap"
inputs = ["file_logs_{{ id }}"]
source = '''
.message = .message
.host = get_hostname!()
.path = .file.path
'''

[sinks.vmlogs_file_{{ id }}]
type = "loki"
inputs = ["parse_file_{{ id }}"]
endpoint = "http://10.10.90.113:3100"
encoding.codec = "json"

[sinks.vmlogs_file_{{ id }}.labels]
host = "{{ host }}"
path = "{{ file_path }}"
